#bubbles svg {
  background-color: #fff !important;
}

h2 {
  font-size: 24px;
}

#topics {
  display: none;
}

#active {
  visibility: hidden;
  display: none;
}

#activeTopicTitle {
    border: none;
    background-color: transparent;
    font-size: 12pt;
    font-weight: bold;
}
