/**********************************************************
 *                                                        *
 *                    Defined values                      *
 *                                                        *
 **********************************************************/

:root {
    --left-bar-bg-color: #64afff;
    --left-bar-tab-bg-color: #7dafff;
}




/**********************************************************
 *                                                        *
 *                    General content                     *
 *                                                        *
 **********************************************************/

/*.shinyjs-hide {
     This is what shiny does 
    display: none !important;
}*/

.center {
    text-align: center;
}

/* Just for the dev process, building UI first then functionality */
.initial {
    /*display: none;*/
}

.initial-hidden {
    /*display: none;*/
    /*visibility: hidden;*/
}

.non-selectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    -o-user-select: none;
    user-select: none; /* Standard */
}

div#bubbles svg {
  background-color: #fff !important;
}

h1 {
    line-height: 1.1;
    font-weight: 500;
}

h2 {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 500;
  text-align: center;
}

h3 {
    text-align: center;
}

#topics {
  display: none;
}

#hover {
  display: none;
}

#active {
    visibility: hidden;
}

.center-float {
    position: fixed;
    top: 20%;
    top: 20vh;
    left: 25%;
    left: 25vw;
    width: 50%;      /* Fallback */
    width: 50vw;
    /*height: 50%;     /* Fallback */*/
    /*height: 50vh;*/
    height: auto;

    /* Taken from shiny defaults */
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
}

.inplace-hidden-message {
    visibility: hidden;
}


/**********************************************************
 *                                                        *
 *            Start styling for initial panel             *
 *                                                        *
 **********************************************************/
#initial-panel {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;

    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* Shiny defaults */
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.05);*/
}

span#dataset-upload-inputs .form-group {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

span#kmeans-initialization-inputs .form-group {
    text-align: left;
    width: auto;
    margin-left: 6%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    -o-user-select: none;
    user-select: none; /* Standard */
}

#initial-title {
    text-align: center;
    margin: auto;
    margin-top: 5vh;
    font-weight: 800;
    font-size: 48px;
}

span#kmeans-initialization-row2 .form-group {
    display: inline-block;
    width: auto;
    text-align: left;
    float: left;
}

span#kmeans-initialization-row2 .form-group label {
    display: inline-block;
}

#num\.clusters {
    width: 75px;
    display: inline-block;
}

#topic\.start {
    display: inline-block;
    margin-right: 5%;
    float: right;
}

#init-message {
    display: inline-block;
    color: blue;
    margin-bottom: 10px;
    width: 100%;
}

#topic\.file_progress {
    margin-bottom: 0px;
}


/**********************************************************
 *                                                        *
 *               Left column content styling              *
 *                                                        *
 **********************************************************/

.left-content {
    width: 30vw;
    min-width: 350px;
    height: 100vh;
    border-color: black;
    border-right-width: 2px;
    /*background-color: lightblue;*/
    /*background-color: var(--left-bar-bg-color, #fff);*/
    background-color: #fff;
    border-right-style: solid;
    float: left;
    box-sizing: border-box;
}


.view-select-button {
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    width: 80px;
}


#view-selection-container {
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly; /* Not sure if this renders in all browsers */
}


#left-bar-controls {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    padding-bottom: 25px;
    padding-top: 10px;
    /*background-color: lightgray;*/
    background-color: var(--left-bar-bg-color, gray);
}


.left-bar-tab {
    background-color: var(--left-bar-tab-bg-color, gray);
    /*background-color: lightgray;*/
    text-align: center;
    box-sizing: border-box;
    width: 50%;
    display: inline-block;
}


#left-bar-topic-tab {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}


#left-bar-topic-tab.active-left-bar-tab {
    /*border-color: var(--left-bar-tab-bg-color, gray);*/
    border-color: #fff;
    background-color: #fff;
}


#left-bar-document-tab {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}


#left-bar-document-tab.active-left-bar-tab {
    /*border-color: var(--left-bar-tab-bg-color, gray);*/
    border-color: #fff;
    background-color: #fff;
}


.hidden-left-bar-content {
    display: none;
}


.left-bar-content {
    width: 100%;
    height: 100%;
}

#left-bar-content-container {
    overflow: scroll;
}

.document-container {
    border-top: 1px solid black;
    overflow: scroll;
    height: 65vh;
}

.document-summary {
    border-bottom: 1px solid black;
    padding: 0px;
    overflow: hidden;
    height: 50px;
    position: relative;
}

.document-summary-fill {
    background-color: var(--left-bar-bg-color, gray);
    opacity: 0.45;
    position: absolute;
    left: 0px;
    height: 100%;
    border-right: 1px solid black;
}

.document-summary-contents {
    padding: 5px;
    position: absolute;
    left: 0px;
}

#left-document-tab-cluster-title {
    text-align: center;
}




/**********************************************************
 *                                                        *
 *                  Main content styling                  *
 *                                                        *
 **********************************************************/

.main-content {
    display: none;
    background-color: #fff;
    width: 100%;
    height: 100vh;
}


#chosen-dataset-name {
    margin-bottom: 20px;
    margin-top: 0px;
}


#export-button-container {
    float: right;
    text-align: right;
    margin-top: 10px;
    margin-right: 15px;
    opacity: 0.60;
}

#export-button-container:hover {
    opacity: 1.0;
}

#download-button-container {
    float: left;
    text-align: left;
    margin-top: 10px;
    margin-left: 15px;
    opacity: 0.60;
}

#donwload-button-container:hover {
    opacity: 1.0;
}

#help-button-container {
    position: absolute;
    right: 40px;
    bottom: 30px;
    opacity: 0.6;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    -o-user-select: none;
    user-select: none; /* Standard */
}

#help-button-container:hover {
    opacity: 1.0;
}

#help-button {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    -o-user-select: none;
    user-select: none; /* Standard */

    margin: auto;

    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;

    text-align: center;
    width: 40px;
    height: 40px;
}


.hidden-view {
    display: none;
}


.view {
    overflow: hidden;
}



/**********************************************************
 *                                                        *
 *               Expanded document styling                *
 *                                                        *
 **********************************************************/

.document-expanded {
    display: none;
}


/**********************************************************
 *                                                        *
 *               Expanded document styling                *
 *                                                        *
 **********************************************************/

#help-box {
    position: fixed;
    top: 20vh;
    left: 20vw;
    width: 60vw;
    height: 60vh;
    background-color: lightgray;
    opacity: 0.8;
    text-align: center;

    border-color: black;
    border-style: solid;
    border-width: 2px;
}

#help-box.hidden-popup {
    display: none;
}





